* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("/src/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pe-icon-7-stroke";
  src: url("/src/fonts/Pe-icon-7-stroke.ttf") format("truetype");
  font-weight: normal;
}

#newContactForm {
  font-size: 16px;
}

#newContactForm input {
  font-size: 14px;
  margin: 0 0.25rem;
  height: 27px;
  min-width: 125px;
  border: 3px solid #eee;
  border-left: 5px solid;
  border-radius: 4px;
  -webkit-transition: border-color 1.5s ease-out;
  transition: border-color 1.5s ease-out;
  padding-left: 4px;
}

#newContactForm input:optional {
  border-left-color: #999;
  background: rgba(153, 153, 153, 0.4);
}

#newContactForm input:required {
  border-left-color: palegreen;
  border-left-width: 5px;
  background: rgba(152, 251, 152, 0.4);
}

#newContactForm input:invalid {
  border-left-color: salmon;
  border-left-width: 5px;
  background: rgba(250, 128, 114, 0.6);
}

#newContactForm input:valid {
  font-weight: 666;
}

#contactsList tr {
  cursor: pointer;
}

#contactsList tr:hover {
  background-color: rgba(71, 211, 211, 0.9);
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1);
  transition: cubic-bezier(0.19, 1, 0.22, 1);
}

fieldset {
  border: none;
}

.form__table {
  border: 1px solid #ccc;
  margin: 0 5px;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border: 3px solid #ddd;
  padding: 5px;
  width: 100vw;
}

table th {
  font-family: "Pe-icon-7-stroke";
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 4px;
  text-align: center;
}

table td {
  padding: 8px 4px;
  text-align: center;
}

.form__table--foot--location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__table--foot--location select {
  margin: 2px auto;
  width: 100px;
}

.location__select--hidden {
  display: none;
}

#addContact {
  cursor: pointer;
  width: 132px;
  padding: 2px 0;
  border-radius: 4px;
  background: rgba(144, 238, 144, 0.5);
}

#addContact:focus, #addContact:hover {
  font-weight: 500;
  background: rgba(90, 206, 12, 0.777);
  border-radius: 8px;
}

@media screen and (max-width: 1281px) {
  #newContactForm {
    font-size: 13px;
  }
  .form__table thead {
    display: none;
  }
  table tr {
    margin: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
    border-radius: 10px;
  }
  .form__table td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 20px;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
  }
  .form__table td:last-child {
    border-bottom: 0;
  }
  .form__table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .form__table--foot--location {
    margin-right: 40px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .form__table--foot--location select {
    margin: 2px;
    width: 120px;
  }
}

.required:after {
  color: #e32;
  content: " *";
  display: inline-block;
  height: 25px;
}

@media screen and (max-width: 1280px) {
  #newContactForm {
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */