@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("/src/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pe-icon-7-stroke";
  src: url("/src/fonts/Pe-icon-7-stroke.ttf") format("truetype");
  font-weight: normal;
}
